@media (max-width: 753px){
    .main{
        margin: auto;
        padding: 0px;
    }

    #adicionar input, #alterar input{
        width: auto;
    }

    

   
}

@media (max-width: 500px){
    #exibe{
        display: flex;
        flex-wrap: wrap;
       
    }
}